<launch>
  

  <arg name="tf_model" default="$(find security_robot)/trained_models" />
  <arg name="voice_model" default="$(find security_robot)/trained_models" />
  <arg name="movenet" default="false" />
  <arg name="sim" default="false" />
  <arg name="bash_gui" default="true" />
  <arg name="bash_title" default="ROBOT_COMMAND_INTERFACE" />
  <arg name="world_name" default="casa3"/>
  <arg name="map_file" default="$(find security_robot)/nav_maps/$(arg world_name).yaml" />
  
  <!-- DETECCION DE PERSONAS-->

  <!-- BASH INTERFACE -->
  <node name="bash_interface" pkg="security_robot" type="UI_bash_interface.py" output="screen" respawn="false" if="$(arg bash_gui)"
    launch-prefix="gnome-terminal --title=$(arg bash_title) -- bash -c">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para robot_control.py -->
  <node name="main" pkg="security_robot" type="APP_main.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

</launch>