<launch>
  
  <arg name="tf_model" default="$(find security_robot)/trained_models" />
  <arg name="voice_model" default="$(find security_robot)/trained_models" />
  <arg name="movenet" default="false" />
  <arg name="sim" default="false" />
  <arg name="bash_gui" default="true" />
  <arg name="bash_title" default="ROBOT_COMMAND_INTERFACE" />
  <arg name="world_name" default="casa3"/>
  <arg name="map_file" default="$(find security_robot)/nav_maps/$(arg world_name).yaml" />
  <arg name="rviz" default="false" />
  
  <!-- USER INTERFACE -->
  <node name="visual_interface" pkg="security_robot" type="UI_gui_interface.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  <!-- BASH INTERFACE -->
  <node name="bash_interface" pkg="security_robot" type="UI_bash_interface.py" output="screen" respawn="false" if="$(arg bash_gui)"
    launch-prefix="gnome-terminal --title=$(arg bash_title) -- bash -c">
    <param name="required" value="true"/>
  </node>

  <!-- DETECCION DE PERSONAS-->
  <!-- Nodo para 'mediapipe' -->
  <node name="pDetector_Mediapipe" pkg="security_robot" type="RV_pDetector_mediapipe.py" output="screen" unless="$(arg movenet)"/>

  <!-- Nodo para 'tensorflow' -->
  <node name="pDetector_MoveNet" pkg="security_robot" type="RV_pDetector_MoveNet.py" output="screen" respawn="false" if="$(arg movenet)">
    <param name="required" value="true"/>
    <param name="tf_model" type="string" value="$(arg tf_model)" />
  </node>

  <!-- MOVER HUMANO EN SIMULACION -->
  <node name="move_person" pkg="security_robot" type="APP_move_person.py" output="screen" respawn="false" if="$(arg sim)">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para robot_control.py -->
  <node name="main" pkg="security_robot" type="APP_main.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  

</launch>