<launch>
  <!-- Nodo para robot_control.py -->
  <node name="main" pkg="security_robot" type="main.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para person_detection.py -->
  <node name="person_detection" pkg="security_robot" type="person_detection.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para move_person.py -->
  <node name="move_person" pkg="security_robot" type="move_person.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>
</launch>
